$RG='rg-azure-search-openai-demo-dev'
$VNET='azure-search-openai-vnet'
$SUBNET_PE='pe-subnet'
$SUBNET_VNI='vni-subnet'
# Creating a Jumpbox for a Jumpbox VM, details of creating the VM not included
$SUBNET_JUMPBOX='jumpbox-subnet'

$VNET_ADDR='10.0.0.0/16'
$SUBNET_PE_ADDR='10.0.0.0/24'
$SUBNET_JMP_ADDR='10.0.1.0/24'
$SUBNET_VNI_ADDR='10.0.2.0/24'
